
    .headerDiv{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
    .mat-icon{
        font-size: 24px;
        cursor: pointer;
        color:white;
    }
    
    .menuAndInput{
        display: flex;
        align-items: center;
        margin: 12px 4px;
        width: 613px;
    }
    .menuAndInput input{
        width: 100%;
        height: 24px;
       margin: 0 27px;
       background-color: rgb(88, 88, 255);
       padding: 4px;
    }

    ::placeholder{
        color: white;
    }
  
    .threeIcons{
        display: flex;
    }
    .threeIcons .mat-icon{
        margin: 0 7px;
    }
    
