.spiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* padding: 23px; */
    /* width: 240px; */
    margin: 12px 31px;
    
}


.links{
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

