<div class = "spiner">
        <h2 class="example-h2">Result</h2>
      
        <mat-progress-spinner
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value">
      </mat-progress-spinner>

      <div class = "links">
          
                <button mat-raised-button color="warn"><mat-icon>headset</mat-icon></button>
          
                <button mat-raised-button color="warn"><mat-icon>headset</mat-icon></button>
         
                <button mat-raised-button color="warn"><mat-icon>headset</mat-icon></button>
         
                <button mat-raised-button color="warn"><mat-icon>headset</mat-icon></button>
         
        </div>
       
        
   

</div>
        
