.spiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    margin: 12px 31px;
    
}


.links{
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    background-color: #f44336;
}

