<mat-drawer-container class="menu-container" autosize>
    <mat-drawer #drawer class="menu-sidenav" mode="side">
      
      
        <div class = "adminLink">
            <a href="#">MATERIAL ADMIN</a>
        </div>

        <mat-list role="list" *ngFor = "let it of items" class = "links">
            <button (click) = "isOn = true">
                    <mat-list-item role="listitem" >
                            <mat-icon>{{it.icon}}</mat-icon>
                            {{it.name}}
                        </mat-list-item>
            </button>
                
        </mat-list>

        <div class = "upgrateToPro">
            <button mat-raised-button color="primary">UPGRATE TO PRO</button>
        </div>

    </mat-drawer>

    
  
    <div class="menu-sidenav-content">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <app-header></app-header>
    </div>

    <app-small-component *ngIf="!isOn"></app-small-component>

<div style="display: flex;justify-content:center;" *ngIf="!isOn">
        <app-fourdiv-list></app-fourdiv-list>
        <app-progress-spiner></app-progress-spiner>
       
</div>

<div style="display: flex;justify-content:center; margin-top: 31px;" *ngIf="!isOn">

    <app-user></app-user>
    <app-graph></app-graph>

</div>
<app-table *ngIf="!isOn"></app-table>




<div style="display: flex;justify-content:space-around; margin-top: 31px;" *ngIf="isOn">
    <app-switch></app-switch>
    <app-selectmenu></app-selectmenu>
</div>

<app-textfield *ngIf="isOn"></app-textfield>


<app-footer></app-footer>
  
  </mat-drawer-container>

  
  