<mat-drawer-container class="menu-container" autosize>
    <mat-drawer #drawer class="menu-sidenav" mode="side">
      
      
        <div class = "adminLink">
            <a href="#">MATERIAL ADMIN</a>
        </div>

        <mat-list role="list" *ngFor = "let it of items" class = "links">
    
                    <mat-list-item role="listitem" (click) = "isOn(it.name)" class = "mediaButton">
                            <mat-icon>{{it.icon}}</mat-icon>
                            <p class = "name">{{it.name}}</p>
                        </mat-list-item>
            
                
        </mat-list>

        <div class = "upgrateToPro">
            <button mat-raised-button color="primary">UPGRATE TO PRO</button>
        </div>

    </mat-drawer>

    
  
    <div class="menu-sidenav-content">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <app-header style="width: 100%"></app-header>
    </div>

    <app-small-component *ngIf="!open"></app-small-component>

<div style="display: flex;justify-content:center;flex-wrap: wrap" *ngIf="!open">
        <app-fourdiv-list></app-fourdiv-list>
        <app-progress-spiner></app-progress-spiner>
       
</div>

<div style="display: flex;justify-content:center; margin-top: 31px;" *ngIf="!open">

    <app-user style="width: 60%;margin:24px;"></app-user>
    <app-graph style="width: 100%;margin:24px;"></app-graph>

</div>
<app-table *ngIf="!open"></app-table>




<div style="display: flex;justify-content:space-around; margin-top: 31px;" *ngIf="open">
    <app-switch style="width: 80%;"></app-switch>
    <app-selectmenu style="width: 80%;"></app-selectmenu>
</div>

<app-textfield *ngIf="open"></app-textfield>

<app-checkbox *ngIf="open"></app-checkbox>

<app-radio *ngIf="open"></app-radio>


<app-footer></app-footer>
  
  </mat-drawer-container>

  
  