<div class="checkbox">
       
    <div class = "checkboxDiv">
        <div>
            <h3>Ckeckbox</h3>
        </div>

        <div class="items">

            <mat-checkbox   [(ngModel)]="checked">Default</mat-checkbox>
            <mat-checkbox   disabled="true" [(ngModel)]="disabled">Disabled</mat-checkbox>
            <mat-checkbox   [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
            <mat-checkbox   class = "dam"  [(ngModel)]="custom">Custom</mat-checkbox>
            
        </div>
       
    </div>
</div>
