<div class = "user">
    <div class="forFlex">

    
        <div class="imgName">
            <div style="display: flex;align-items: center;">
                    <img src="/assets/face1.jpg" alt="">
                    <div class = "name">
                        <h5>Daniel Russel</h5>
                        <p>@danielrussel</p>
                    </div>

            </div>
            
            <div>
                <mat-icon>sports_esports</mat-icon>
            </div>
            
        </div>

        <div class = "text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sem non mauris euismod hendrerit.Aliquam condimentum sem non mauris euismod hendrerit.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
        </div>


        <div class="lists">
            <div class = "value">
                <p>TWEETS</p>
                <h3>768.8k</h3>
            </div>
            <div class = "value">
                <p>FOLLOWING</p>
                <h3>186.8k</h3>
            </div>
            <div class = "value">
                <p>TWEETS</p>
                <h3>25.8k</h3>
            </div>
        </div>
    </div>
</div>