.textField{
    margin-top: 23px;
    display: flex;
    justify-content: center;
}


.textFieldDiv{
    padding: 13px;
    border: 1px solid black;
    width: 80%;
}
.divv{
    display: flex;
    justify-content: flex-start;
}

mat-form-field{
    margin: 0 11px;
}