.textField{
    margin-top: 23px;
    display: flex;
    justify-content: center;
}


.textFieldDiv{
    padding: 13px;
    border: 1px solid gray;
    width: 90%;
}
.divv{
    display: flex;
    justify-content: flex-start;
}

mat-form-field{
    margin: 0 11px;
}

@media (max-width:792px){
    .divv{
        display: flex;
        flex-direction: column;
    }
}